<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
    <servlet-name>StatusCodeDemo</servlet-name>
    <servlet-class>net.yammyy.servlet.StatusCodeDemo</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UserServlet</servlet-name>
    <servlet-class>net.yammyy.servlet.UserServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>net.yammyy.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>net.yammyy.servlet.LogoutServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>WelcomeServlet</servlet-name>
    <servlet-class>net.yammyy.servlet.WelcomeServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>OneGoodServlet</servlet-name>
    <servlet-class>net.yammyy.servlet.OneGoodServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LoginedUserServlet</servlet-name>
    <servlet-class>net.yammyy.servlet.LoginedUserServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>OrdersServlet</servlet-name>
    <servlet-class>net.yammyy.servlet.OrdersServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddCartServlet</servlet-name>
    <servlet-class>net.yammyy.servlet.AddCartServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ShowCartServlet</servlet-name>
    <servlet-class>net.yammyy.servlet.ShowCartServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddOrderServlet</servlet-name>
    <servlet-class>net.yammyy.servlet.AddOrderServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>StatusCodeDemo</servlet-name>
    <url-pattern>/StatusCodeDemo</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserServlet</servlet-name>
    <url-pattern>/userRecord</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/loginView</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>WelcomeServlet</servlet-name>
    <url-pattern>/index</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>WelcomeServlet</servlet-name>
    <url-pattern></url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>OneGoodServlet</servlet-name>
    <url-pattern>/good</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LoginedUserServlet</servlet-name>
    <url-pattern>/userProfile</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>OrdersServlet</servlet-name>
    <url-pattern>/orders</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddCartServlet</servlet-name>
    <url-pattern>/changelist</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ShowCartServlet</servlet-name>
    <url-pattern>/opencart</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddOrderServlet</servlet-name>
    <url-pattern>/neworder</url-pattern>
  </servlet-mapping>

</web-app>